


<table class="table">



  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Rank</th>
    <th scope="col">Score</th>
    <th scope="col">Member Num</th>
    <th scope="col">Competition Code</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ranking of ranking">
    <td>1</td>
    <td>{{ ranking.id}}</td>
    <td>{{ ranking.rank }}</td>
    <td>{{ ranking.score }}</td>
    <td>{{ ranking.member.num }}</td>
    <td>{{ ranking.competition.code}}</td>

  </tr>
  </tbody>
</table>

