{{levelForm.value | json}}

<form [formGroup]="levelForm" (ngSubmit)="create()">
  <div class="mb-3">
    <label class="form-label">Code:</label>
    <input class="form-control" formControlName="code">
  </div>
  <div class="mb-3">
    <label class="form-label">Description:</label>
    <input class="form-control" formControlName="description">
  </div>
  <div class="mb-3">
    <label class="form-label">Points:</label>
    <input class="form-control" formControlName="points">
  </div>


  <button class=" btn btn-success">Save</button>


</form>
